<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Admin - Countries</title>
	<!-- Data Tables -->
	<link rel="stylesheet" th:href="@{/users/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/users/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">

<head th:replace="admin-layout :: head"></head>
<body>
<div th:replace="admin-layout :: header"></div>
<div th:replace="admin-layout :: nav-bar"></div>

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Countries List</h4>
					<!-- /.box-title -->
					
			
					<table id="example" class="table table-striped table-bordered display" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Description</th>
								<th>States</th>
								<th>Data</th>
								<th>Start date</th>
								<th>Salary</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Office</th>
								<th>Age</th>
								<th>Start date</th>
								<th>Salary</th>
								<th>Action</th>
							</tr>
						</tfoot>
						<tbody>
							<tr>
								<td>Tiger Nixon</td>
								<td>System Architect</td>
								<td>Edinburgh</td>
								<td>61</td>
								<td>2011/04/25</td>
								<td>$320,800</td>
								<td>
								
								<div class="dropdown js__drop_down">
						        <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						        <ul class="sub-menu">
							         <li><a href="#">Action</a></li>
							         <li><a href="#">Another action</a></li>
							         <li><a href="#">Something else there</a></li>
							         <li class="split"></li>
							        <li><a href="#">Separated link</a></li>
						        </ul>
						           <!-- /.sub-menu -->
								</div>
				            	<!-- /.dropdown js__dropdown -->
								</td>
							</tr>
							<tr>
								<td>Garrett Winters</td>
								<td>Accountant</td>
								<td>Tokyo</td>
								<td>63</td>
								<td>2011/07/25</td>
								<td>$170,750</td>
								<td>
								
								<div class="dropdown js__drop_down">
						        <a href="#" class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
						        <ul class="sub-menu">
							         <li><a href="#">Action</a></li>
							         <li><a href="#">Another action</a></li>
							         <li><a href="#">Something else there</a></li>
							         <li class="split"></li>
							        <li><a href="#">Separated link</a></li>
						        </ul>
						           <!-- /.sub-menu -->
								</div>
				            	<!-- /.dropdown js__dropdown -->
								</td>
							</tr>
		
						</tbody>
					</table>
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-xs-12 -->
		</div>
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
 <div th:replace="admin-layout :: footer"></div>
 	<!-- Data Tables -->
	<script th:src="@{/users/plugin/datatables/media/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/media/js/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
	<script th:src="@{/users/scripts/datatables.demo.min.js}"></script>
 
</body>
</html>