
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Admin - Dashboard</title>
<head th:replace="admin-layout :: head"></head>
<body>
<div th:replace="admin-layout :: header"></div>
<div th:replace="admin-layout :: nav-bar"></div>

<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
		<div class="col-lg-3 col-xs-12">
				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-server text-inverse"></i>
						<h2 class="counter text-inverse" th:text="${users}"></h2>
						<p class="text">Registered Users</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->

				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-user text-success"></i>
						<h2 class="counter text-success">3562</h2>
						<p class="text">Visitors</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->

				<div class="box-content">
					<div class="statistics-box with-icon">
						<i class="ico ti-import text-primary"></i>
						<h2 class="counter text-primary">283</h2>
						<p class="text">Anon</p>
					</div>
					<!-- .statistics-box .with-icon -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-3 col-xs-12 -->
			<div class="col-lg-9 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">API Requests</h4>
					<!-- /.box-title -->
				
					<div id="svg-animation-chartist-chart" class="chartist-chart" style="height: 314px"></div>
					<!-- /#svg-animation-chartist-chart.chartist-chart -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-12 col-xs-12 -->
		</div>
		<!-- /.row small-spacing -->

		<div class="row small-spacing">

			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-success">Success</h4>
					<!-- /.box-title -->
					
					<div class="content widget-stat">
						<div class="left-content"><i class="fa fa-check text-success" style="font-size:50px;"></i></div>
						<!-- /#traffic-sparkline-chart-1 -->
						<div class="right-content">
							<h2 class="counter text-success">278</h2>
							<!-- /.counter -->
							<p class="text text-success">Successful Requests</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-danger">Failed</h4>
					<!-- /.box-title -->
					
					<div class="content widget-stat">
						<div class="left-content"><i class="fa fa-times text-danger" style="font-size:50px;"></i></div>
						<!-- /#traffic-sparkline-chart-2 -->
						<div class="right-content">
							<h2 class="counter text-danger">36</h2>
							<!-- /.counter -->
							<p class="text text-danger">Failed Requests</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->

			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-info">Rate Limiting</h4>
					<!-- /.box-title -->
					
					<div class="content widget-stat">
						<div class="left-content"><i class="fa fa-clock-o text-info" style="font-size:50px;"></i></div>
						<!-- /#traffic-sparkline-chart-3 -->
						<div class="right-content">
							<h2 class="counter text-info">30/200 </h2>
							<!-- /.counter -->
							<p class="text text-info">Rate Limiting Count</p>
							<!-- /.text -->
						</div>
						<!-- .right-content -->
					</div>
					<!-- /.content widget-stat -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-4 col-xs-12 -->
		</div>
	
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->
 <div th:replace="admin-layout :: footer"></div>
</body>
</html>