

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restful Countries - Admin Login</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Themesdesign" />
    
         <link rel="shortcut icon" th:href="@{/images/logo/logo-white.png}">
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/materialdesignicons.min.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/selectize.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}" />
    
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    </head>

    <body>
        
        <div class="back-to-home rounded d-none d-sm-block">
            <a href="/" class="text-white rounded d-inline-block text-center"><i class="mdi mdi-home"></i></a>
        </div>

        <!-- Hero Start -->
        <section class="vh-100" style="background: url('/images/login.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="login-page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <h4 class="mb-4">Admin Login</h4>  
<!--                                         <p th:text="${success}"></p> -->
<!--                                          <p th:text="${error}"></p> -->
                                    </div>
                                    <form class="login-form" th:action="@{/login}" th:object="${user}" method="post">
                                        <div class="row">
                       
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Email address</label>
                                                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required="">
                                                </div>
                                            </div>
    
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Password </label>
                                                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required="">
                                                </div>
                                            </div>

                                    
                                            <div class="col-lg-12 mb-0">
                                                <button class="btn btn-primary w-100">Sign in</button>
                                            </div>
                                          
                                        </div>
                                    </form>
                                </div><!---->
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div> <!--end container-->
                </div>
            </div>
        </section><!--end section-->
        <!-- Hero End -->

        <!-- javascript -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/plugins.js}"></script>

        <!-- selectize js -->
        <script th:src="@{/js/selectize.min.js}"></script>

        <script th:src="@{/js/jquery.nice-select.min.js}"></script>

        <script th:src="@{/js/app.js}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:if="${success != null}">
            swal("Success!", "[[${success }]]", "success");     
        </script>
        <script th:if="${error}">
           swal("Error!", "Username or password incorrect", "error");
        </script>
       
     
    </body>
</html>