/node_modules
/public/hot
/storage/*.key
/.idea
/vendor
/public/assets/images/logo
/public/assets/images/presidents
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
