
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="users-layout :: head"></head>
<title id="tab-title">Developer - API Key</title>
<!-- Remodal -->
<link rel="stylesheet" th:href="@{/users/plugin/modal/remodal/remodal.css}">
<link rel="stylesheet" th:href="@{/users/plugin/modal/remodal/remodal-default-theme.css}">
<link rel="stylesheet" th:href="@{/users/plugin/toastr/toastr.css}">

<body>
	<div th:replace="users-layout :: menu"></div>
	<div th:replace="users-layout :: navbar"></div>
	<div id="wrapper">
		<div class="main-content">
			<div class="row small-spacing">
				<div class="col-lg-12 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">API Key</h4>
						<div class="card-content">
							<form class="form-horizontal" method="post"
								th:if="${user.apiKey != null}" th:action="@{api-key/reset}"
								th:object="${user}">
								<div class="form-group">
<!-- 									<input type="text" th:value="${user.id}" th:field="${user.id}" hidden="hidden">  -->
										<label for="inputEmail3"
										class="col-sm-2 control-label">Api Key</label>
									<div class="col-sm-6">
										<div class="input-group margin-bottom-20">
											<input type="email" class="form-control"
											id="api-key" disabled="disabled" th:value="${user.apiKey}">
											<div class="input-group-btn">
												<button type="button"
													class="btn btn-default no-border waves-effect waves-light">
													<span class="api-btn" 
											data-clipboard-target="#api-key"> <img
												src="/images/clippy.svg" alt="Copy to clipboard"
												style="height: 30px;">
										    </span>
												</button>
											</div>
											<!-- /.input-group-btn -->
										</div>
										
									</div>
								</div>
								<div class="form-group margin-bottom-0">
									<div class="col-sm-offset-2 col-sm-10">
										<span data-remodal-target="remodal"
											class="btn btn-info btn-sm waves-effect waves-light">Reset
											key</span>
									</div>
								</div>
							</form>
							<form class="form-horizontal" method="post"
								th:if="${user.apiKey == null}" th:action="@{api-key/generate}"
								th:object="${user}">
								<div class="form-group margin-bottom-0">
									<input type="text" th:value="${user.id}" th:field="${user.id}"
										hidden="hidden">
									<div class=" col-sm-10">
										<p class="text-info">
											You haven't generated an Api key yet.</label>
										</p>
									</div>
								</div>
								<div class="form-group margin-bottom-0">
									<div class=" col-sm-10">

										<button type="submit"
											class="btn btn-info btn-sm waves-effect waves-light">Generate
											Key</button>
									</div>
								</div>
							</form>
						</div>
						<!-- /.card-content -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-12 col-xs-12 -->
			</div>


			<div class="row small-spacing" th:if="${user.apiKey != null}">
				<div class="col-lg-12 col-xs-12">
					<div class="box-content">
						<h4 class="box-title">How to use Key.</h4>
						<div class="card-content">
							<p class="text-info">You should pass your api key as a string
								parameter.</p>
							<ul>
								<li>
									<p class="text-success">
										localhost:8080/api/v1/countries?k=<span
											th:text="${user.apiKey}"></span>
									</p>
								</li>
								<li>
									<p class="text-success">
										localhost:8080/api/v1/countries/nigeria?k=<span
											th:text="${user.apiKey}"></span>
									</p>
								</li>
							</ul>
							<p>
								See <a href="#">Documentation</a> to explore endpoints.
							</p>
						</div>
						<!-- /.card-content -->
					</div>
					<!-- /.box-content -->
				</div>
				<!-- /.col-lg-12 col-xs-12 -->
			</div>

		</div>
		<!-- /.main-content -->
	</div>
	<!--/#wrapper -->

	<div class="remodal" data-remodal-id="remodal" role="dialog"
		aria-labelledby="modal1Title" aria-describedby="modal1Desc">
		<button data-remodal-action="close" class="remodal-close"
			aria-label="Close"></button>
		<div class="remodal-content">
			<h2 id="modal1Title">Reset API key</h2>
			<p id="modal1Desc" class="text-danger">All apps using current key
				won't be able to access end points, and all Api request records would be lost.</p>
			<p class="text-info">Do you wish continue reset?.</p>
		</div>
		
		<form method="post"
			th:if="${user.apiKey != null}" th:action="@{api-key/reset}"
			th:object="${user}">

			<!-- 									<input type="text" th:value="${user.id}" th:field="${user.id}" hidden="hidden">  -->
            <span data-remodal-action="cancel" class="remodal-cancel">Cancel</span>
			<button class="remodal-confirm">Proceed
				Reset
			</button>
		</form>
	</div>

	<div th:replace="users-layout :: footer"></div>

<script th:if="${success != null}"> 
Command: toastr["success"]("[[${success}]]", "Success")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "rtl": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": 300,
  "hideDuration": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
<script th:if="${error != null}">
Command: toastr["error"]("[[${error}]]","Error")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "rtl": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": 300,
  "hideDuration": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
	<script>
     new ClipboardJS('.api-btn');
</script>
<script>
      $('#page-title').text('API Key');
      $('#api_key').addClass('current');
</script>
</body>
</html>