
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="users-layout :: head"></head>
<title id="tab-title">Developer - Profile</title>
<link rel="stylesheet" th:href="@{/users/plugin/toastr/toastr.css}">
<body>
<div th:replace="users-layout :: menu"></div>
<div th:replace="users-layout :: navbar"></div>
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-lg-12 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">Profile</h4>
					<div class="card-content">
						<form class="form-horizontal" th:object="${user}" th:action="@{profile/update}" method="post">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email Address</label>
								<div class="col-sm-6">
									<input type="email" class="form-control" id="inputEmail3" disabled="disabled" th:value="${user.email}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Name</label>
								<span th:text="${name}"></span>
								<div class="col-sm-6">
									<input type="text" required="required" class="form-control" th:field="*{name}"  th:value="${user.name}">
									<input type="text" hidden="hidden" th:field="*{id}"  th:value="${user.id}">
									<input type="email" hidden="hidden" th:field="*{email}"  th:value="${user.email}">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Country</label>
								<span th:text="${name}"></span>
								<div class="col-sm-6">
									<select class="form-control" th:field="*{userCountry}">
									     <option th:value="${user.userCountry}" th:text="${user.userCountry}"></option>
									     <option value="Nigeria">Nigeria</option>
									     <option value="Ghana">Ghana</option>
									</select>
									
								</div>
							</div>
							<div class="form-group margin-bottom-0">
								<div class="col-sm-offset-2 col-sm-10">
									<button type="submit" class="btn btn-info btn-sm waves-effect waves-light">Update</button>
								</div>
							</div>
						</form>
					</div>
					<!-- /.card-content -->
				</div>
				<!-- /.box-content -->
			</div>
			<!-- /.col-lg-12 col-xs-12 -->
		</div>
		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->

<div th:replace="users-layout :: footer"></div>
<script th:if="${success != null}"> 
Command: toastr["success"]("[[${success}]]", "Success")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "rtl": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": 300,
  "hideDuration": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
<script th:if="${error != null}">
Command: toastr["error"]("[[${error}]]","Error")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "rtl": false,
  "positionClass": "toast-top-center",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": 300,
  "hideDuration": 1000,
  "timeOut": 5000,
  "extendedTimeOut": 1000,
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>
<script>
      $('#page-title').text('Profile');
      $('#profile').addClass('current');
</script>
</body>
</html>