
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="users-layout :: head"></head>
<title id="tab-title">Developer - API Requests</title>

	<!-- Data Tables -->
	<link rel="stylesheet" th:href="@{/users/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/users/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">

<body>
<div th:replace="users-layout :: menu"></div>
<div th:replace="users-layout :: navbar"></div>
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">API Requests</h4>
					<!-- /.box-title -->

					<!-- /.dropdown js__dropdown -->
					<table id="example" class="table table-striped table-bordered display" style="width:100%">
						<thead>
							<tr>
								<th>Request Date</th>
								<th>Request Status</th>
								<th>Endpoint</th>
							</tr>
						</thead>
					
						<tbody>
							<tr th:each="request  :${requests}">
								<td th:text="${#dates.format(request.createdAt,'dd MMMM YYYY - h:m:s')}"></td>
								<td th:if="${request.status == true}" th:text="Successful"></td>
								<td th:if="${request.status == false}" th:text="Failed"></td>
								<td th:text="${request.endPoint}"></td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-content -->
			</div>
		 </div>
		
	</div>
	<!-- /.main-content -->
</div><!--/#wrapper -->

<div th:replace="users-layout :: footer"></div>
<script>
      $('#page-title').text('API Requests');
      $('#requests').addClass('current');
</script>
</body>
</html>