<head th:fragment="page-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" th:href="@{/images/logo/logo-white.png}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialdesignicons.min.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/selectize.css}" />

    <!--Slider-->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/css/owl.theme.css}" />
    <link rel="stylesheet" th:href="@{/css/owl.transitions.css}" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

</head>

<!-- Navigation Bar-->
    <header th:fragment="page-header" id="topnav" class="defaultscroll scroll-active">
        
        <!-- Menu Start -->
        <div class="container">
            <!-- Logo container-->
            <div>
                <a href="index.html" class="logo">
                    <img th:src="@{/images/logo/logo-h-w.png}" alt="" class="logo-light" height="60" />
			   </a>
            </div>                 
            
            <!-- End Logo container-->
            <div class="menu-extras">
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
    
            <div id="navigation">
                <!-- Navigation Menu-->   
                <ul class="navigation-menu">
                    <li><a href="/">Home</a></li>
                     <li>
                        <a th:href="@{/docs/1.0}">Documentation</a>
                    </li>
                    <li>
                        <a th:href="@{/login}" target="_blank">Dev Console</a>
                    </li>
                   
                </ul><!--end navigation menu-->
            </div><!--end navigation-->
        </div><!--end container-->
        <!--end end-->
    </header><!--end header-->
    <!-- Navbar End -->
    
    
     <!-- 
    <footer class="footer" th:fragment="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                    <a href="javascript:void(0)"><img th:src="@{/images/logo/logo-h-w.png}" height="60" alt="Restful Countries"></a>
                    <p class="mt-4">Providing the most comprehensive country data to the world.</p>
                  
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Company</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> About Us</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Media & Press</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Career</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Blog</a></li>
       
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title">Resources</p>
                    <ul class="list-unstyled footer-list">
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Support</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> Terms</a></li>
                        <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right"></i> F.A.Q.</a></li>
                    </ul>
                </div>
            
                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
                    <p class="text-white mb-4 footer-list-title f-17">Follow Us</p>
                    <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    -->
    <span th:fragment="footer-hr">
       <hr>
    </span>
    <footer class="footer footer-bar" th:fragment="second-footer">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="">
                        <p class="mb-0">© 2020 Restful Countries</p>
                    </div>
                    <div style="margin-top:10px;">
                      <ul class="social-icon social list-inline mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                       </ul>
                    </div>
                </div>
            </div>
        </div><!--end container-->
    </footer><!--end footer-->
    <!-- Footer End -->
    
    
    <div th:fragment="page-script-scroll">
    <!-- Back to top -->
    <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
        <i class="mdi mdi-chevron-up d-block"> </i> 
    </a>
    <!-- Back to top -->

    <!-- javascript -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script th:src="@{/js/jquery.easing.min.js}"></script>
    <script th:src="@{/js/plugins.js}"></script>

    <!-- selectize js -->
    <script th:src="@{/js/selectize.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>

    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/counter.int.js}"></script>

    <script th:src="@{/js/app.js}"></script>
    <script th:src="@{/js/home.js}"></script>
    </div>