

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restful Countries - Login</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
    
         <link rel="shortcut icon" th:href="@{/images/logo/logo-white.png}">
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/materialdesignicons.min.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/selectize.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}" />
    
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

    </head>

    <body>

        <!-- Hero Start -->
        <section class="vh-100" style="background: url('/images/login.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-md-6">
                                <div class="login-page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                        <a href="/"><img th:src="@{/images/logo/logo-v.png}" alt="" class="logo-light" height="100" style="margin-bottom:30px;"/></a>
                                       
<!--                                         <p th:text="${success}"></p> -->
<!--                                          <p th:text="${error}"></p> -->
                                    </div>
                                    <form class="login-form" th:action="@{/login}" th:object="${user}" method="post">
                                        <div class="row">
                       
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Email address</label>
                                                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required="">
                                                </div>
                                            </div>
    
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Password </label>
                                                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}" required="">
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <p class="float-right forgot-pass"><a href="recovery_passward.html" class="text-dark font-weight-bold">Forgot password ?</a></p>
                                                <div class="form-group">
                                                    <div class="custom-control m-0 custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-0">
                                                <button class="btn btn-primary w-100">Sign in</button>
                                            </div>
                                            <div class="col-lg-12 mt-4 text-center">
                                                <h6>Or Login With</h6>
                                                <ul class="list-unstyled social-icon mb-0 mt-3">
                                                    <li class="list-inline-item"><a href="login/oauth/google" class="rounded"><i class="mdi mdi-google-plus" title="Google"></i></a></li>
     
                                                </ul><!--end icon-->
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="mb-0 mt-3"><small class="text-dark mr-2">Don't have an account ?</small> <a th:href="@{register}" class="text-dark font-weight-bold">Sign Up</a></p>
                                            </div>
                                        </div>
                                    </form>
                                </div><!---->
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div> <!--end container-->
                </div>
            </div>
        </section><!--end section-->
        <!-- Hero End -->

        <!-- javascript -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/plugins.js}"></script>

        <!-- selectize js -->
        <script th:src="@{/js/selectize.min.js}"></script>

        <script th:src="@{/js/jquery.nice-select.min.js}"></script>

        <script th:src="@{/js/app.js}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script th:if="${success != null}">
            swal("Success!", "[[${success }]]", "success");     
        </script>
        <script th:if="${error}">
           swal("Error!", "Username or password incorrect", "error");
        </script>
       
     
    </body>
</html>