

<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Restful Countries - Create Account</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
       
    
       <link rel="shortcut icon" th:href="@{/images/logo/logo-white.png}">
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    
        <!--Material Icon -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/materialdesignicons.min.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/selectize.css}" />
    
        <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}" />
    
        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        
        <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}" />

    </head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>
        <!-- Loader -->
        

        <!-- Hero Start -->
        <section class="vh-100" style="background: url('/images/login.jpg') center center;">

            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="login-page bg-white shadow rounded p-4">
                                    <div class="text-center">
                                      <a href="/"> <img th:src="@{/images/logo/logo-v.png}" alt="" class="logo-light" height="100" style="margin-bottom:30px;" /></a>  
                                    </div>
                                    <form class="login-form" th:action="@{/register/save-user}" th:object="${user}" method="post">
                                        <div class="row">
                                        <div class="col-lg-12">
                                           <div class="form-group position-relative">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control" th:field="*{name}" placeholder="Name" required="">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Email address</label>
                                                    <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required="">
                                                </div>
                                            </div>
    
                                            <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Password </label>
                                                    <input type="password" class="form-control" th:field="*{password}" placeholder="Password" required="">
                                                </div>
                                            </div>
                                             <div class="col-lg-12">
                                                <div class="form-group position-relative">
                                                    <label>Confirm Password </label>
                                                    <input type="password" class="form-control"  id="confirm_password" placeholder="Confirm Password" required="">
                                                </div>
                                            </div>

                                          
                                            <div class="col-lg-12 mb-0">
                                                <button class="btn btn-primary w-100">Register</button>
                                            </div>
                                            
                                            <div class="col-12 text-center">
                                                <p class="mb-0 mt-3"><small class="text-dark mr-2">Already have an account ?</small> <a th:href="@{/login}" class="text-dark font-weight-bold">Login</a></p>
                                            </div>
                                        </div>
                                    </form>
                                </div><!---->
                            </div> <!--end col-->
                        </div><!--end row-->
                    </div> <!--end container-->
                </div>
            </div>
        </section><!--end section-->
        <!-- Hero End -->

        <!-- javascript -->
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/jquery.easing.min.js}"></script>
        <script th:src="@{/js/plugins.js}"></script>

        <!-- selectize js -->
        <script th:src="@{/js/selectize.min.js}"></script>

        <script th:src="@{/js/jquery.nice-select.min.js}"></script>

        <script th:src="@{/js/app.js}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       
         <script th:utext="${success}">
                
         </script>
    </body>
</html>