<head th:fragment="head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="shortcut icon" th:href="@{/images/logo/logo-white.png}">

	<!-- Main Styles -->
	<link rel="stylesheet" th:href="@{/users/styles/style.min.css}">
	
	<!-- Themify Icon -->
	<link rel="stylesheet" th:href="@{/users/fonts/themify-icons/themify-icons.css}">

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" th:href="@{/users/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}">

	<!-- Waves Effect -->
	<link rel="stylesheet" th:href="@{/users/plugin/waves/waves.min.css}">

	<!-- Sweet Alert -->
	<link rel="stylesheet" th:href="@{/users/plugin/sweet-alert/sweetalert.css}">
	
	<!-- Percent Circle -->
	<link rel="stylesheet" th:href="@{/users/plugin/percircle/css/percircle.css}">

	<!-- Chartist Chart -->
	<link rel="stylesheet" th:href="@{/users/plugin/chart/chartist/chartist.min.css}">
	
	<link rel="stylesheet" th:href="@{/users/styles/custom.css}">


</head>

<div class="main-menu" th:fragment="menu">
	<header class="header">
	   <div class="logo" >
	       <a href="/"><img th:src="@{/images/logo/logo-blue.png}" alt="Restful Countries" /></a>
	   </div>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
	</header>
	<!-- /.header -->
	<div class="content">

		<div class="navigation">
			<h5 class="title">Developer</h5>
			<!-- /.title -->
			<ul class="menu js__accordion">
				<li class="" id="dashboard">
					<a class="waves-effect" th:href="dashboard"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
				</li>
				<li id="requests">
					<a class="waves-effect" th:href="api-requests"><i class="menu-icon ti-map"></i><span>Requests</span></a>
				</li>
				<li id="api_key">
					<a class="waves-effect" th:href="api-key"><i class="menu-icon ti-key"></i><span>API Key</span></a>
				</li>
				<li id="profile">
					<a class="waves-effect" th:href="profile"><i class="menu-icon ti-user"></i><span>Profile</span></a>
				</li>
				<li id="logout">
					<a class="waves-effect" th:href="logout"><i class="menu-icon ti-lock"></i><span>Logout</span></a>
				</li>
			</ul>
			<!-- /.menu js__accordion -->
		</div>
		<!-- /.navigation -->
	</div>
	<!-- /.content -->
</div>
<!-- /.main-menu -->
<div class="fixed-navbar" th:fragment="navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<h1 class="page-title" id="page-title"></h1>
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		
	
		<div class="ico-item">
			<i class="ti-user"></i>
			<ul class="sub-ico-item">
				<li><a th:href="profile">Profile</a></li>
				<li><a th:href="logout">Log Out</a></li>
			</ul>
			<!-- /.sub-ico-item -->
		</div>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->
   <div th:fragment="footer">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script th:src="@{/script/html5shiv.min.js}"></script>
		<script th:src="@{/script/respond.min.js}"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/users/scripts/jquery.min.js}"></script>
	<script th:src="@{/users/scripts/modernizr.min.js}"></script>
	<script th:src="@{/users/plugin/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/users/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/users/plugin/nprogress/nprogress.js}"></script>
	<script th:src="@{/users/plugin/sweet-alert/sweetalert.min.js}"></script>
	<script th:src="@{/users/plugin/waves/waves.min.js}"></script>
	<!-- Sparkline Chart -->
	<script th:src="@{/users/plugin/chart/sparkline/jquery.sparkline.min.js}"></script>
	<script th:src="@{/users/scripts/chart.sparkline.init.min.js}"></script>

	<!-- Percent Circle -->
	<script th:src="@{/users/plugin/percircle/js/percircle.js}"></script>

	<!-- Google Chart -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

	<!-- Chartist Chart -->
	<script th:src="@{/users/plugin/chart/chartist/chartist.min.js}"></script>
	<script th:src="@{/users/scripts/jquery.chartist.init.min.js}"></script>

	<!-- FullCalendar -->
	<script th:src="@{/users/plugin/moment/moment.js}"></script>


<!-- Data Tables -->
	<script th:src="@{/users/plugin/datatables/media/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/media/js/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
	<script th:src="@{/users/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
	<script th:src="@{/users/scripts/datatables.demo.min.js}"></script>

<!-- Toastr -->
	<script th:src="@{/users/plugin/toastr/toastr.min.js}"></script>
    
    <!-- Remodal -->
	<script th:src="@{/users/plugin/modal/remodal/remodal.min.js}"></script>
	
	<script th:src="@{/users/scripts/main.min.js}"></script>
	</div>